@import url("http://fonts.googleapis.com/css?family=Armata");
body,html
{
	background-image:url(Image/custombrown.jpg);
	margin: 0;
}
a:active{
	outline:none;
}
a:visited{
	outline:none;
}
div
{
	display: block;
}
.header
{
	margin-left:auto;
	margin-right:auto;
	height:4.6cm;
	min-width:30cm;
	min-height:4.6cm;
	background-color:#03274B;
	position:relative;
	top:0mm;
}
.header > .header-content{
	margin-left:auto;
	margin-right:auto;
	width:80%;
	max-width:100%;
	min-width:30cm;
	position:relative;
	top:4mm;
}
.logo-img{
	height:2.5cm;
	width:1.8cm;
	max-width:1.8cm;
	z-index:50;
}
.trigger{
	height:2.5cm;
	width:1.8cm;
	max-width:1.8cm;
	z-index:50;
}
.header-table .logo-text table{
	position:relative;
	left:1.5cm;
}
.logo-img > .trigger > img{
	
	position:relative;
	top:-2mm;
	left:6mm;
	max-height:100%;
	cursor:-moz-zoom-in;
	cursor:-webkit-zoom-in;
	cursor:zoom-in;
}
.logo-txt-acr{
	font-family: Armata;
	font-size:8mm;
	color:#dfefff;
	position:relative;
	top:-0.5cm;
	left:0mm;
	max-width:25cm;
	width:25cm;
	min-width:25cm;
}
.logo-txt-nba{
	font-family: Lucida Calligraphy;
	font-size:5mm;
	color:#dfefaa;
	position:relative;
	top:-0.1cm;
	left:0mm;
	max-width:25cm;
	width:25cm;
	min-width:25cm;
}
.logo-txt-acr > span{
	font-size:5mm;
	color:white;
}
.menu-bar{
	float:left;
	position:relative;
	left:0cm;
	top:0cm;
	width:30cm/;
	min-width:30cm
	font-family:Armata;
	font-size: 4.7mm;
}
.menu-bar ul{
	display:inline-block;
	position:relative;
}
.menu-bar ul li{
	float:left;
	display:block;
	height:100%;
	background-color: rgba(0,0,0,0.1);
	position:relative;
}
.menu-bar a{
	width:6em;
	text-decoration:none;
	padding:0.4em 0.6em;
	border-spacing: 0mm;
	color:#fff;
	border-left: 1px solid rgba(180,180,180,0.3);
}
.h1
{
	color:#03274B;
	height:1em;
	position:relative;
	top:0.8mm;
}
.menu-bar li:hover{
	
	background-color:white;
	background: linear-gradient(0deg, rgba(130,130,130,0.6) 0%, rgba(255,255,255,1) 100%);
}
.menu-bar li:hover > a{
	color:#03274B;
}
.menu-bar ul li:hover > a{
	
	min-width:auto;
}
.menu-bar ul, .menu-bar ul ul{
	line-height:200%;
}
.menu-bar ul ul li{
	
	background-color: rgba(7,12,50,0.85);
	width:100%;
}
.menu-bar ul ul{
	
	display:none;
	padding:0 0 0 0;
	position:absolute;
	top:35px;
	z-index:1000;
	box-shadow: 8px 8px 4px rgba(0,0,0,0.4);
}
.menu-bar ul li:hover > ul{
	display:block;
}
.login {
	width: 300px;
	margin: 100px auto;
	background: #e6e6e6;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	padding:1cm;
}
.login a:hover
{
	color: blue;
}
